# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
xcuserdata/

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm/
.build/

# CocoaPods
Pods/
*.lock
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Archives & Generated
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# Playground files
timeline.xctimeline
playground.xcworkspace

# User-specific
*.swp
*.swo
*.tmp
*.orig
*.log

# System files
Thumbs.db
ehthumbs.db

